# CODEOWNERS
# These owners are requested for review on every pull request.
# https://docs.github.com/en/repositories/managing-your-repositories-settings-and-features/customizing-your-repository/about-code-owners

# Default owner for everything in the repo
* @an-li-dev
